.match-card {
  padding: 16px;
  background-color: white;
}

.upcoming-btn {
  background-color: #4d8eff !important;
  border-color: #4d8eff !important;
}

.join-btn {
  background-color: #0d9473 !important;
  border-color: #0d9473 !important;
  border-radius: 8px;
  padding: 0 24px;
}

.vs-text {
  font-size: 18px;
  margin: 0 20px;
}

.teams-container {
  margin-top: 16px;
}

.ant-badge-count {
  border-radius: 16px !important;
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
}
