.card {
  border-radius: 20px !important;
}
.user-info {
  margin: 0px !important;
  margin-left: 10px !important;
}
.text-muted {
  margin: 0px !important;
  margin-top: -5px !important;
  font-size: 12px !important;
}
